.nav {
	display: flex;
	background-color: #363b41;
	justify-content: flex-start;
	flex-direction: row;
	align-content: flex-start;
	opacity: 0.9;
}

.nav:hover {
	opacity: 0.95;
}

.text {
	color: #7f8993;
	font-size: 24px;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}

.link {
	margin-top: 35px;
	margin-left: 10px;
}

.text:hover {
	color: #375880;
	text-decoration: none;
}

@media only screen and (max-width: 416px) {
	.nav {
		max-width: 100%;
	}
}
