.nav {
  display: flex;
  background-color: #363B41;
  justify-content: flex-start;
  flex-direction: row;
  align-content: flex-start;
  opacity: 0.9;
}

.nav:hover {
  opacity: 0.95;
}

.text {
  color: #7F8993;
  font-size: 24px;
  cursor: pointer;
}

.link{
  margin-top: 35px;
  margin-left: 10px;
 
}

.text:hover {
  color: #375880;
  text-decoration: none;
}


