.text {
  color:white
}

.github {
  color: #78828B;
  font-size:400px;
  margin-top: 15%;
  margin-right: 10%;
}

.github:hover{
  color: #56ECFF;
  font-size: 425px;
}

.linkedin {
  color: #78828B;
  font-size: 400px;
  margin-top: 15%;
  margin-left: 10%;
}

.linkedin:hover{
  color: #56ECFF;
  font-size: 425px;
}

.gmail {
  color: white;
  padding: 50px;
}
